body{
    margin: 0;
}

#container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(22, 22, 22);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    gap: 10px;
}

/* Header */
#header{
    grid-column: 1 / 6;
    background-color: rgb(14, 13, 13);
    display: flex;
    box-shadow: 20px 0px 15px rgb(0, 0, 0);
}

.logo{
    width: 10vw;
    height: 8vh;
}

a{
    padding: 20px;
    text-decoration: none;
    color: white;
}

a:hover{
    font-weight: bold;
}

.headerfunctions{
    width: 78vw;
    margin-top: 25px;
}

.headericons{
    width: 12vw;
    margin-top: 25px;
    text-align: center;
    display: flex;
}

.icons{
    width: 2.5vw;
}

.iconsperfil{
    width: 2.5vw;
    text-align: right;
}

/* Main documentales */
#documentales{
    grid-column: 1 / 6;
    margin-left: 20px;
}

.documentalesimg{
    text-align: center;
}

/* Main volveraver */
#volveraver{
    grid-column: 1 / 6; 
    margin-left: 20px;
    font-size: large;
}

.volveraverimg{
    text-align: center;
}

/* Main seriestv */
#seriestv{
    grid-column: 1 / 6;
    margin-left: 20px;
    font-size: large;
}

.seriestvimg{
    text-align: center;
}

.imgserie{
    width: 350px;
    border-radius: 5px;
}